@font-face {
  font-family: 'Philosopher';
  src: url('./fonts/Philosopher-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root { 
  --bg: #F6F8FC;
  --primary: #1f2bd3;
  --secondary: #477ee4;
  --h2-color: #ece57b;
  --text: white;
  --cube-side: 2.75rem;
  --cube-side-half: calc(var(--cube-side) / 2);
  --border-radius: 2rem;
  --btn-bg:#ffffff;
  --glow-size: 0.5rem;
  --facebook: #1877f2;
  --github: #505050;
  --instagram: #e4405f;
  --linkedin: #0177b5;
}

/* Personaliza a largura da barra de rolagem */
::-webkit-scrollbar {
  width: 12px; /* Ajuste a largura conforme necessário */
  height: 12px; /* Para barra de rolagem horizontal */
}

/* Personaliza o trilho da barra de rolagem */
::-webkit-scrollbar-track {
  background: #070255; /* Cor do trilho (parte de fundo) */
  border-radius: 8px;
}

/* Personaliza o polegar da barra de rolagem */
::-webkit-scrollbar-thumb {
  background: #d8ca0a; /* Cor do polegar (parte que você arrasta) */
  border-radius: 8px;
  transition: background 0.3s ease;
}

/* Efeito de hover no polegar */
::-webkit-scrollbar-thumb:hover {
  background: #f0e330; /* Cor ao passar o mouse */
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%; 
  width: 100%;
  font-family: 'Philosopher';
  overflow: hidden;
  color: #ffffff;
}

.info {
  display: none; /* Esconde todas as informações por padrão */
  text-align: center; /* Centraliza o texto horizontalmente */
  margin: 20px 0; /* Espaçamento vertical entre as seções de informação */
}

.info-wrapper {
  display: flex; /* Usar Flexbox para centralização */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  height: 50vh; /* Altura total da janela de visualização */
}


.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: -1; 
}

/* button */
.button-glow {
  width: 40rem;
  height: 15vh;
  text-decoration: none;
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #819bf3;
  position: fixed; 
  top: 20px; 
  left: 40rem; 
  transform: translateX(-50%);
  z-index: 2; 
  border-radius: var(--border-radius);
  transition: all 0.5s;
  gap: 0.5rem;
  font-family: 'Philosopher';
  font-weight: bold;
  font-size: 4rem;
  box-shadow: 0 1px 4px black;
  margin-left: -300px;
  
}

.button-glow:hover{
  box-shadow: 10px 10px 22px black;
}


.button-glow:before {
  content: '';
  background: linear-gradient(to right, #3052e7, #acb8fc,
          #032597, #3d89c7, #e9d38a,  #ebdf78,
          #e5e0b5, #ddda37, #e9db18);
  position: absolute;
  background-size: 300%;
  z-index: -1;
  filter: blur(var(--glow-size));
  width: calc(100% + var(--glow-size));
  height: calc(100% + var(--glow-size));
  opacity: 0;
  border-radius: var(--border-radius);
  animation: glow 25s alternate infinite;
  transition: opacity .5s linear;
}

.button-glow:active {
  background: var(--btn-bg);
}

.button-glow:hover:before {
  opacity: 2;
}

.button-glow:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--btn-bg);
  left: 0;
  top: 0;
  border-radius: var(--border-radius);
}

.projetos-container {
  margin-top: 15rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  margin-left: 10rem;
}

.projeto {
  position: relative;
  width: 250px;
  text-align: center;
  cursor: pointer;
  background:#ddda37;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  transition: .8s;
  color: #131a2c;
}

.projeto:hover {
  transform: translateY(-5px);
  background-color: #070255;
  transition: .8s;
  color: white;;
}

.projeto-nome {
  font-size: 16px;
  font-weight: bold;
}


/* Mantém os detalhes visíveis quando clicado */
.projeto-detalhes {
  position: absolute;
  top: -350%;
  left: 150%;
  width: 400px;
  padding: 10px;
  display: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1000;
  text-align: left;
  overflow-x: auto;
  scroll-behavior: smooth;
  border-radius: 20px;
}


/* Exibe detalhes ao passar o mouse e quando clicado */
.projeto.active .projeto-detalhes,
.projeto:hover .projeto-detalhes {
  display: flex;
  flex-direction: row;
}

.projeto-detalhes img {
  width: 250%; /* Garante que a imagem ocupe toda a largura do container */
  height: 300px; /* Mantém a proporção da imagem */
  max-height: 550px; /* Define uma altura máxima para as imagens */
  border-radius: 20px; /* Mantém o arredondamento dos cantos */
  object-fit: cover; /* Garante que a imagem preencha o espaço sem distorcer, cortando a imagem se necessário */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona uma leve sombra para destacar as imagens */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transição suave para efeitos de hover */
  padding: 10px;
}

.projeto-botao {
  height: 10rem; /* Aumenta a altura */
  width: 5rem; /* Reduz a largura */
  margin-left: 10px; 
  margin-top: 70px;
  backdrop-filter: blur(12px);
  position: relative; 
  font-size: 20px; 
  font-weight: bold; 
  background: linear-gradient(
    100deg, 
    #d8ca0a 0%, 
    #1c2e57 33%, 
    #070255 66%, 
    #d8ca0a 100%
  );
  background-size: 300% 100%;
  color: #ffffff; 
  border: none; 
  border-radius: 8px; 
  cursor: pointer; 
  transition: transform 0.3s ease;
  animation: glow 25s infinite; 
  writing-mode: vertical-rl; /* Torna a escrita vertical */
  text-orientation:sideways; /* Mantém os caracteres legíveis */
  text-align: center; /* Centraliza o texto verticalmente */
  padding: 5px; /* Adiciona espaço ao redor do texto */
}

.projeto-botao:hover {
  transform: scale(1.1);
  background: linear-gradient(
    10deg, 
    #d8ca0a 0%, 
    #1c2e57 33%, 
    #070255 66%, 
    #d8ca0a 100%
  ); 
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.projeto-detalhes .projeto-botao {
  display: block;
  text-align: center;
  padding: 8px 12px;
  border-radius: 4px;
  text-decoration: none;
}

.pj1, .pj2 {
  position: relative;
  margin: 20px auto; /* Centraliza as imagens e adiciona espaçamento maior */
  width: 90%; /* Ocupa quase toda a largura da tela */
  max-width: 1200px; /* Limita o tamanho máximo para telas grandes */
  height: auto; /* Mantém a proporção original da imagem */
  border-radius: 12px; /* Bordas levemente arredondadas */
  cursor: pointer;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3); /* Reforça a sombra para destacar */
  transition: transform 0.3s ease, width 0.3s ease; /* Animações suaves */
}

.pj1:hover, .pj2:hover {
  transform: scale(1.08);
}



@keyframes glow {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 200% 50%;
  }
  75% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



/* cabeçalho info */
.cabecalho {
  position: absolute;
  top: 20px;
  left: calc(50% + 7rem);
  width: 80vh;
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: 'Philosopher';
  border-radius: 1.5rem; /* Bordas mais sutis */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Sombra suave */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Bordas mais sutis e elegantes */
  backdrop-filter: blur(12px); /* Mantém o blur no fundo */
  background-color: rgba(255, 255, 255, 0.08); /* Fundo mais transparente */
  gap: 20px;
  transition: all 0.4s ease-in-out; /* Transições mais suaves */
}


.cabecalho.no-blur {
  backdrop-filter: none;
  background-color: rgba(255, 255, 255, 0.2);
}

.cabecalho:hover {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.4); /* Aumenta a sombra no hover */
  background-color: rgba(255, 255, 255, 0.12); /* Leve mudança na cor de fundo */
  border-radius: 1.75rem; /* Leve alteração nas bordas ao passar o mouse */
  cursor: pointer;
}



.cabecalho:hover .dropdown-menu {
  display: flex; 
}

.cabecalho h1,
.cabecalho h2,
.cabecalho h3,
.cabecalho h4 {
  backdrop-filter: none; /* Remove o blur dos textos */
  color: white; /* Para garantir que o texto seja legível */
}


.cabecalho h1 {
  font-size: 1.3rem; 
  margin-right: 100px;
  text-decoration: none;
  font-weight: lighter;
  margin-bottom: -10px;
  margin-top:-10px;
}

.cabecalho h2 {
  color: #f4fcac;
  text-decoration: none;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1rem;
}

.cabecalho h3 {
  color: #5ca7ee;
  text-decoration: none;
  font-size: .8rem;
  margin: 5px 0;
}

.cabecalho h4 {
  color: #6c86f7;
  text-decoration: none;
  font-size: 1rem;
}


.cabecalho h1, .cabecalho h2, .cabecalho h3, .cabecalho h4 {
  backdrop-filter: none; /* Remove o blur dos textos */
}


.infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  backdrop-filter: none;
}


.foto {
  backdrop-filter: none; /* Remove o blur da imagem */
  background-size: cover;
  background-position: center; 
  border-radius: 50%;
  width: 60px;
  height: 60px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra na imagem */
  position: absolute;
  margin-top: -55px;
  left: calc(58% + 0rem);
  margin-left: 100px;
}


header{
  position: fixed;
  z-index: 1;
}
header li{
  display: inline-block;
}

.navigation__group {
  display: flex;
  gap: 16px;
  align-items: center;
  backdrop-filter: none;
}

.navigation__group > .icon {
  cursor: pointer;
  width: 25px;
  height: 25px;
  transition: all 0.2s ease-in-out;
  backdrop-filter: none;
}

.navigation__group > .icon:hover {
  transform: scale(1.1);
  backdrop-filter: none;
}

.user-name {
  font-size: 14px;
  font-weight: 700;
  text-align: left;
  color: var(--text);
  backdrop-filter: none;
}

.profile {
  display: block;
  width: 70px;
  height: 70px;
  cursor: pointer;
  border-radius: 50%;
  filter: drop-shadow(-20px 0 10px rgba(0, 0, 0, 0.1));
  backdrop-filter: none;
  margin-top:-10px;
}

.profile  a::after,
.profile a::before{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  z-index: -1;

  padding: 3px;
  animation: spin 5s linear infinite;
}

.profile:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
  backdrop-filter: none;
  background: conic-gradient(from var(--angle), #9097b9 0%, #c9c768 100%);
  padding: 3px;
  animation: spin 5s linear infinite;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes spin {
  from {
      --angle: 0deg;
  }

  to {
      --angle: 360deg;
  }
}

.email {
  color: black;
  font-size: 1.3rem;
  word-break: break-all;
  padding: 4px 0;

}

.dropdown__wrapper {
  width: 1000px; 
  height: 1050px;
  top: 7rem; 
  right: 20px;
  position: absolute;
  border-radius: 12px;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  overflow: hidden;
  backdrop-filter: blur(20px);
  background: linear-gradient(to right, #d8d38d 0%, #02048d7e 100%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); 
  animation: fadeOutAnimation ease-in-out 0.3s forwards;
  transition: all 0.3s ease; 
  border-bottom: 1px solid #ffffff44; /* Cor e opacidade da linha */
  padding-bottom: 0.625rem; /* Espaço entre a linha e o conteúdo */
}

.dropdown__wrapper.no-blur {
  backdrop-filter: none;
}

/* Efeito de fade-in para quando o dropdown aparece */
.dropdown__wrapper--fade-in {
  animation: fadeInAnimation ease-in-out 0.3s forwards;
}

.none {
  display: none;
  backdrop-filter: none;
}

.hide {
  opacity: 0;
  visibility: hidden;
  animation: fadeOutAnimation ease-in-out 0.3s forwards;
  backdrop-filter: none;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
  padding: 20px;
  margin-top: -10px;
  background-color: rgba(255, 255, 255, 0.1); 
  border-radius: 12px; 
}

.skill-item {
  position: relative; 
  padding: 2rem; 
  border-radius: 8px;
  background: rgba(0, 27, 180, 0.397);
  transition: transform 0.3s ease; 
}

.skill-item:hover {
  transform: scale(1.00); 
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3); 
  background-color: #fce9ac;
  cursor: none;
}

.skill-item img {
  height: 2rem;
  width: 2rem;
  transition: transform 0.3s ease; 
  cursor: none;
}

.skill-item:hover img {
  transform: rotate(360deg); /* Rotação ao passar o mouse */
  cursor: pointer;
}

.skill-name {
  position: absolute;
  top: 100%; 
  left: 50%; 
  transform: translateX(-50%); 
  color: #e5e4b5; 
  padding: 5px 10px;
  border-radius: 5px; 
  display: none; /* Oculta o h1 por padrão */
  font-family: 'Philosopher';
  font-weight: lighter;
  transition: 1s;
  margin-bottom: 10px;
}

.anim {
  animation: bouncing 1s infinite; 
}

@keyframes bouncing {
  0%, 50% {transform: translateY(0);}
  40% {transform: translateY(-10px)};
  60% {transform: translateY(-10px)};
}

.skill-item:hover .skill-name {
  display: block; /* Exibe o h1 ao passar o mouse */
  font-size: 1.3rem;
  transition: 1s;
  background-color:  #131a2c; /* Fundo do nome da skill */
  text-decoration: none;
  padding: 10px;
}

.knowledge {
  font-size: 1.8rem;
  color:#000000;
  
  margin-left: 10px;
  text-align: center; /* Centraliza o texto */
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
    transform: translateY(-10px); /* Leve movimento para cima */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Retorna à posição original */
  }
}

@keyframes fadeOutAnimation {
  from {
    opacity: 1;
    transform: translateY(0); /* Posição original */
  }
  to {
    opacity: 0;
    transform: translateY(-10px); /* Leve movimento para cima */
  }
}

.dropdown__group {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--text-gray);
  margin: -10px;
  padding: 0;
}

nav > ul {
  list-style-type: none;
  padding: 8px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

nav > ul > li {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px;
  width: 100%;
}

/* Profile image in dropdown */
nav > ul > li > img {
  height: 24px;
  width: 24px;
  border-radius: 4px;
}

/* Hover effect for list items */
nav > ul > li:hover {
  cursor: pointer;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.1); /* Fundo ao passar o mouse */
  transition: background-color 0.3s ease; /* Transição suave */
}





/* footer */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
  background-color: rgba(255, 235, 205, 0.164);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 8px black;
}

.contateme{
  margin-right: 10px;
  font-size: 1.2rem;
}

.wrapper{
  display:flex;
  flex-direction: row;
  gap: 0.75rem;
  flex-wrap: wrap;
  list-style: none;
  height: 8rem;
  margin-top: 50px;
}

.wrapper .icon{
  position: relative;
  border-radius: 50%;
  width: 3.125rem;
  height: 3.125rem;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  box-shadow: 0 10px 10px black;
  transition: all 0.2 cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon a {
  text-decoration: none;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 0.875rem;
  background: rgb(0, 0, 0);
  color: white;
  padding: 5px 8px;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover a .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  background-color:#6a85df;
  
}

.linkedin, .github1{
  background-color:#5192f3;
  size: 20px;
}

.wrapper .tooltip{
  position: absolute;
  top:0;
  font-size: 0.875rem;
  background: rgb(0, 0, 0);
  color: white;
  padding: 5px 8px;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2 cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before{
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ebdf77;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.2 cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip{
  top:-45px;
  opacity:1;
  visibility:visible;
  pointer-events: auto;
}



.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip{
  text-shadow: black;
}




/* Icone para indicar interação na foto do perfil */
.navigation__group > i {
  color: #ffffff; 
  font-size: 1.2rem; 
  margin-left: 8px; 
  cursor: pointer; 
}